---
import Layout from '../../layouts/Layout.astro';
import axios from 'axios';
const envData = import.meta.env;
const url = envData.CMS_URL;
const apiKey ="Bearer " + envData.API_KEY;
const instance = axios.create({
  baseURL: url,
  timeout: 1000,
  headers: {'Authorization': apiKey , 'Accept': 'application/json'}
});

const drinks = await instance.get("drinks").then((apiResponse) => 
    apiResponse.data.data
  );

const foods = await instance.get("foods").then((apiResponse) => 
    apiResponse.data.data
  );

const salads = await instance.get("salads").then((apiResponse) => 
    apiResponse.data.data
  );

const appetizers = await instance.get("appetizers").then((apiResponse) => 
    apiResponse.data.data
  );
---
<Layout>
	<main>        
        <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container mt-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                    <h1 class="mb-5">Our delicious dishes</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Ορεκτικά</small>
                                    <h6 class="mt-n1 mb-0">Side dishes</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <i class="fa fa-seedling fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Σαλάτες</small>
                                    <h6 class="mt-n1 mb-0">Salads</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <i class="fa fa-fire-burner fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Κρεατικά της Ώρας</small>
                                    <h6 class="mt-n1 mb-0">Short-order Meats</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-4">
                                <i class="fa fa-bowl-food fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Μακαρονάδες</small>
                                    <h6 class="mt-n1 mb-0">Spaghetti</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-5">
                                <i class="fa fa-fish fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Θαλασσινά</small>
                                    <h6 class="mt-n1 mb-0">Seafood</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-6">
                                <i class="fa fa-wine-bottle fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Ποτά</small>
                                    <h6 class="mt-n1 mb-0">Drinks</h6>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                            {appetizers.map((appetizer) =>(
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{appetizer.attributes.Name}</span>
                                                <span class="text-primary">{appetizer.attributes.Price} €</span>
                                            </h5>
                                            <small class="fst-italic">{appetizer.attributes.Description}</small>
                                        </div>
                                    </div>
                                </div>
                            ))}       
                        </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row g-4">
                            {salads.map((salad) =>(
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{salad.attributes.Name}</span>
                                                <span class="text-primary">{salad.attributes.Price} €</span>
                                            </h5>
                                            <small class="fst-italic">{salad.attributes.Description}</small>
                                        </div>
                                    </div>
                                </div>
                            ))}       
                        </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row g-4">
                            {foods.filter( (i) => { return i.attributes.Type === 'meat'}).map((food) =>(
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{food.attributes.Name}</span>
                                                <span class="text-primary">{food.attributes.Price} €</span>
                                            </h5>
                                            <small class="fst-italic">{food.attributes.Description}</small>
                                        </div>
                                    </div>
                                </div>
                            ))}       
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                {foods.filter( (i) => { return i.attributes.Type === 'spaghetti'}).map((food) =>(
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{food.attributes.Name}</span>
                                                <span class="text-primary">{food.attributes.Price} €</span>
                                            </h5>
                                            <small class="fst-italic">{food.attributes.Description}</small>
                                        </div>
                                    </div>
                                </div>
                            ))}     
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                {foods.filter( (i) => { return i.attributes.Type === 'seafood'}).map((food) =>(
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{food.attributes.Name}</span>
                                                <span class="text-primary">{food.attributes.Price} €</span>
                                            </h5>
                                            <small class="fst-italic">{food.attributes.Description}</small>
                                        </div>
                                    </div>
                                </div>
                            ))}     
                            </div>
                        </div>
                        <div id="tab-6" class="tab-pane fade show p-0">
                            <div class="row g-4">
                            {drinks.map((drink) =>(
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{drink.attributes.Name}</span>
                                                <span class="text-primary">{drink.attributes.Price} €</span>
                                            </h5>
                                            <small class="fst-italic">{drink.attributes.Description}</small>
                                        </div>
                                    </div>
                                </div>
                            ))}         
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
	</main>
</Layout>
 
<style>
</style>
